.list {
  /* min-height: 100%; */
  width: 350px;
  padding-inline: 1.5rem;
  margin-top: 2rem;
}

.list + .list {
  border-left: 1px solid var(--rocket-purple);
}

.list-header {
  width: 100%;
  min-height: 7rem;

  margin-bottom: 2rem;

  justify-content: space-around;
  align-items: center;
}

.list-name {
  font-size: 1.8rem;
}

.tasks {
  height: 67%;
  padding-bottom: 2rem;

  scrollbar-width: none;
  overflow-y: auto;
}

.tasks::-webkit-scrollbar {
  display: none;
}
