.list {
  height: 100%;
  min-width: 350px;
  padding-inline: 1.5rem;
  margin-top: 2rem;
}

.list + .list {
  border-left: 1px solid var(--rocket-purple);
}

.tasks {
  height: 85%;
  overflow-y: auto;
}

.tasks::-webkit-scrollbar {
  display: none;
}

.list-header {
  width: 100%;
  min-height: 4rem;

  margin-bottom: 2rem;

  justify-content: space-around;
  align-items: center;
}
